<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoRecord.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF3FD77B1E59B44000AA32EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF3FD7921E59B44000AA32EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF3FD79D1E59B44000AA32EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
